<font size=6> function of load and choose

In [1]:
import numpy as np

In [2]:
T1=np.load("TATA/T1.npy")
T2=np.load("TATA/T22.npy") 
T3=np.load("TATA/T3.npy") 
T4=np.load("TATA/T44.npy") 
T5=np.load("TATA/T5.npy") 
T6=np.load("TATA/T6.npy") 
#------------------------------------
T1labels=np.load("TATAlabels/T1labels.npy")
T2labels=np.load("TATAlabels/T22labels.npy")
T3labels=np.load("TATAlabels/T3labels.npy")
T4labels=np.load("TATAlabels/T44labels.npy") 
T5labels=np.load("TATAlabels/T5labels.npy")
T6labels=np.load("TATAlabels/T6labels.npy")
#------------------------------------
nT1=np.load("nonTATA/nT1.npy")
nT2=np.load("nonTATA/nT22.npy") 
nT3=np.load("nonTATA/nT3.npy") 
nT4=np.load("nonTATA/nT44.npy") 
nT5=np.load("nonTATA/nT5.npy") 
nT6=np.load("nonTATA/nT6.npy") 
#------------------------------------
nT1labels=np.load("nonTATAlabels/nT1labels.npy")
nT2labels=np.load("nonTATAlabels/nT22labels.npy")
nT3labels=np.load("nonTATAlabels/nT3labels.npy")
nT4labels=np.load("nonTATAlabels/nT44labels.npy") 
nT5labels=np.load("nonTATAlabels/nT5labels.npy")
nT6labels=np.load("nonTATAlabels/nT6labels.npy")
datalabels=[0,[T1,nT1,T1labels,nT1labels],[T2,nT2,T2labels,nT2labels],[T3,nT3,T3labels,nT3labels],\
              [T4,nT4,T4labels,nT4labels],[T5,nT5,T5labels,nT5labels],[T6,nT6,T6labels,nT6labels]]

In [3]:
def choose(*key,place,name):
    TATA=[]
    nonTATA=[]
    TATAlabels=[]
    nonTATAlabels=[]
    for i in range(len(key)):
        TATA+=list(datalabels[key[i]][0])
        nonTATA+=list(datalabels[key[i]][1])
        TATAlabels+=list(datalabels[key[i]][2])
        nonTATAlabels+=list(datalabels[key[i]][3])
    TATA=np.array(TATA)
    nonTATA=np.array(nonTATA)
    TATAlabels=np.array(TATAlabels)
    nonTATAlabels=np.array(nonTATAlabels)
    np.save(("TATA/"+place+"/"+name+"TATA"),TATA)
    np.save(("nonTATA/"+place+"/"+name+"nonTATA"),nonTATA)
    np.save(("TATAlabels/"+place+"/"+name+"TATAlabels"),TATAlabels)
    np.save(("nonTATAlabels/"+place+"/"+name+"nonTATAlabels"),nonTATAlabels)
    
    return 

#     return TATA,nonTATA,TATAlabels,nonTATAlabels

<font size=6> For_homo

In [47]:
#ver2
#-----------------------------------------------------
choose(1,2,3,4,place="ver2/for_homo",name="1_2_3_4")
choose(1,2,3,place="ver2/for_homo",name="1_2_3")
choose(1,2,place="ver2/for_homo",name="1_2")
choose(1,place="ver2/for_homo",name="1")

#ver3
#-----------------------------------------------------
choose(1,3,6,place="for_homo",name="1_3_6")
choose(1,3,place="for_homo",name="1_3")
choose(1,place="for_homo",name="1")

<font size=6>For_shrew

In [15]:
choose(1,3,4,5,place="ver2/for_shrew",name="1_3_4_5")
choose(1,3,4,place="ver2/for_shrew",name="1_3_4")
choose(1,3,place="ver2/for_shrew",name="1_3")
choose(1,place="ver2/for_shrew",name="1")
choose(1,3,5,place="ver2/for_shrew",name="1_3_5")
choose(3,place="ver2/for_shrew",name="3")

<font size=6> For_rat

In [42]:
#ver2
#-----------------------------------------------------
choose(1,2,4,5,place="ver2/for_rat",name="1_2_4_5")
choose(1,2,place="ver2/for_rat",name="1_2")
choose(1,2,4,place="ver2/for_rat",name="1_2_4")
choose(1,place="ver2/for_rat",name="1")
choose(1,2,5,place="ver2/for_rat",name="1_2_5")

#ver3
#-----------------------------------------------------
choose(1,5,6,place="for_rat",name="1_5_6")
choose(1,5,place="for_rat",name="1_5")
choose(1,place="for_rat",name="1")

<font size=6>For_rabbit

In [33]:
choose(1,2,3,place="for_rabbit",name="1_2_3")
choose(1,2,3,5,place="for_rabbit",name="1_2_3_5")
choose(1,2,place="for_rabbit",name="1_2")
choose(1,place="for_rabbit",name="1")
choose(1,2,5,place="for_rabbit",name="1_2_5")

<font size=6> For_mouse

In [45]:
choose(2,3,4,5,place="ver2/for_mouse",name="2_3_4_5")
choose(2,3,4,place="ver2/for_mouse",name="2_3_4")
choose(2,3,place="ver2/for_mouse",name="2_3")
choose(2,place="ver2/for_mouse",name="2")

#ver3
#-----------------------------------------------------
choose(3,5,6,place="for_rat",name="3_5_6")
choose(3,5,place="for_rat",name="3_5")
choose(3,place="for_rat",name="3")

<font size=6> For_dog

In [18]:
choose(1,3,5,place="for_dog",name="1_3_5")
choose(1,3,place="for_dog",name="1_3")
choose(1,place="for_dog",name="1")
choose(3,5,place="for_dog",name="3_5")
choose(5,place="for_dog",name="5")
choose(3,place="for_dog",name="3")
choose(1,5,place="for_dog",name="1_5")

In [23]:
choose(1,3,5,place="135",name="135")

In [42]:
%connect_info

{
  "shell_port": 55213,
  "iopub_port": 54843,
  "stdin_port": 60144,
  "control_port": 33182,
  "hb_port": 55319,
  "ip": "127.0.0.1",
  "key": "001e83d7-1db1e3516e2ce90736e129fe",
  "transport": "tcp",
  "signature_scheme": "hmac-sha256",
  "kernel_name": ""
}

Paste the above JSON into a file, and connect with:
    $> jupyter <app> --existing <file>
or, if you are local, you can connect with just:
    $> jupyter <app> --existing kernel-1e546e94-7356-4b8a-b76c-2e5d256602f1.json
or even just:
    $> jupyter <app> --existing
if this is the most recent Jupyter kernel you have started.

In [35]:
a=3