In [1]:
import pandas as pd
import numpy as np

<font size=6> Performance

In [2]:
def evaluate2(pred,real):  
    tp=0
    tn=0
    fp=0
    fn=0
    for i in range(len(pred)):
        if pred[i]==0:
            if real[i]==1:
                fp+=1
            else:
                tp+=1
        else:
            if real[i]==1:
                tn+=1
            else:
                fn+=1
    accuracy=round((tp+tn)/(tn+tp+fn+fp),3)
    precision=round(tp/(tp+fp),3)
    recall=round(tp/(tp+fn),3)
    mcc=round((tp*tn-fp*fn)/((tp+fp)*(tp+fn)*(tn+fp)*(tn+fn))**(1/2),3)
    f1=round((2*(precision*recall)/(precision+recall)),3)
    return accuracy,precision,recall,mcc,f1

<font size=6> nonTATA Cross Prediction & number of data

In [17]:
allp=[]
allr=[]
allf=[]
for i in range(1,7):
    precisions=[]
    recalls=[]
    f1s=[]
    for j in range(1,7):
        accuracy,precision,recall,mcc,f1=evaluate2(pred=np.load("models/ver4/pred_"+str(i)+"p"+str(j)+"_nonTATA.npy"),\
                                                   real=np.load("nonTATAlabels/nT"+str(j)+"labels.npy"))
        precisions.append(precision);recalls.append(recall);f1s.append(f1)
    allp.append(precisions);allr.append(recalls);allf.append(f1s)
table_allp = pd.DataFrame(allp, columns=["mouse model", "shrew model", "rat model", "rabbit model","human model","dog model"],\
                          index=["mouse", "shrew", "rat", "rabbit","human","dog"])
table_allr = pd.DataFrame(allr, columns=["mouse model", "shrew model", "rat model", "rabbit model","human model","dog model"],\
                          index=["mouse", "shrew", "rat", "rabbit","human","dog"])
table_allf = pd.DataFrame(allf, columns=["mouse model", "shrew model", "rat model", "rabbit model","human model","dog model"],\
                          index=["mouse", "shrew", "rat", "rabbit","human","dog"])
#------------------------------------------------------------
real=np.load("nonTATAlabels/nT6labels.npy")
for i in range(len(real)-1):
    if real[i]!=real[i+1]:
        dog=[i,len(real)-i,len(real)]
real=np.load("nonTATAlabels/nT5labels.npy")
for i in range(len(real)-1):
    if real[i]!=real[i+1]:
        human=[i,len(real)-i,len(real)]
real=np.load("nonTATAlabels/nT4labels.npy")
for i in range(len(real)-1):
    if real[i]!=real[i+1]:
        rabbit=[i,len(real)-i,len(real)]
real=np.load("nonTATAlabels/nT3labels.npy")
for i in range(len(real)-1):
    if real[i]!=real[i+1]:
        rat=[i,len(real)-i,len(real)]
real=np.load("nonTATAlabels/nT2labels.npy")
for i in range(len(real)-1):
    if real[i]!=real[i+1]:
        shrew=[i,len(real)-i,len(real)]
real=np.load("nonTATAlabels/nT1labels.npy")
for i in range(len(real)-1):
    if real[i]!=real[i+1]:
        mouse=[i,len(real)-i,len(real)]
data_num = pd.DataFrame([mouse,shrew,rat,rabbit,human,dog], columns=["TSS", "nonTSS", "total"],\
                        index=["mouse", "shrew", "rat", "rabbit","human","dog"])

In [18]:
table_allp

,mouse model,shrew model,rat model,rabbit model,human model,dog model
mouse,0.838,0.654,0.748,0.417,0.679,0.535
shrew,0.862,0.878,0.870,0.557,0.790,0.677
rat,0.749,0.653,0.862,0.461,0.679,0.559
rabbit,0.877,0.835,0.887,0.893,0.849,0.788
human,0.766,0.657,0.756,0.491,0.836,0.585
dog,0.859,0.795,0.870,0.651,0.814,0.852

In [19]:
table_allr

,mouse model,shrew model,rat model,rabbit model,human model,dog model
mouse,0.516,0.647,0.457,0.628,0.521,0.594
shrew,0.356,0.644,0.371,0.537,0.406,0.503
rat,0.420,0.608,0.570,0.633,0.485,0.577
rabbit,0.221,0.381,0.271,0.501,0.272,0.358
human,0.404,0.563,0.415,0.537,0.566,0.517
dog,0.283,0.454,0.310,0.427,0.339,0.512

In [20]:
table_allf

,mouse model,shrew model,rat model,rabbit model,human model,dog model
mouse,0.639,0.650,0.567,0.501,0.590,0.563
shrew,0.504,0.743,0.520,0.547,0.536,0.577
rat,0.538,0.630,0.686,0.533,0.566,0.568
rabbit,0.353,0.523,0.415,0.642,0.412,0.492
human,0.529,0.606,0.536,0.513,0.675,0.549
dog,0.426,0.578,0.457,0.516,0.479,0.640

In [7]:
data_num

          TSS  nonTSS  total
mouse   18551   32253  50804
shrew   10863   39501  50364
rat     14325   27039  41364
rabbit  11312   44475  55787
human   19471   39776  59247
dog     14647   40557  55204

<font size=6> TATA Cross prediction & number of data

In [21]:
allp=[]
allr=[]
allf=[]
for i in range(1,7):
    precisions=[]
    recalls=[]
    f1s=[]
    for j in range(1,7):
        accuracy,precision,recall,mcc,f1=evaluate2(pred=np.load("models/ver5/pred_"+str(i)+"p"+str(j)+"_TATA.npy"),\
                                                   real=np.load("TATAlabels/T"+str(j)+"labels.npy"))
        precisions.append(precision);recalls.append(recall);f1s.append(f1)
    allp.append(precisions);allr.append(recalls);allf.append(f1s)
table_allp = pd.DataFrame(allp, columns=["mouse model", "shrew model", "rat model", "rabbit model","human model","dog model"],\
                          index=["mouse", "shrew", "rat", "rabbit","human","dog"])
table_allr = pd.DataFrame(allr, columns=["mouse model", "shrew model", "rat model", "rabbit model","human model","dog model"],\
                          index=["mouse", "shrew", "rat", "rabbit","human","dog"])
table_allf = pd.DataFrame(allf, columns=["mouse model", "shrew model", "rat model", "rabbit model","human model","dog model"],\
                          index=["mouse", "shrew", "rat", "rabbit","human","dog"])
#------------------------------------------------------------
real=np.load("TATAlabels/T6labels.npy")
for i in range(len(real)-1):
    if real[i]!=real[i+1]:
        dog=[i,len(real)-i,len(real)]
real=np.load("TATAlabels/T5labels.npy")
for i in range(len(real)-1):
    if real[i]!=real[i+1]:
        human=[i,len(real)-i,len(real)]
real=np.load("TATAlabels/T4labels.npy")
for i in range(len(real)-1):
    if real[i]!=real[i+1]:
        rabbit=[i,len(real)-i,len(real)]
real=np.load("TATAlabels/T3labels.npy")
for i in range(len(real)-1):
    if real[i]!=real[i+1]:
        rat=[i,len(real)-i,len(real)]
real=np.load("TATAlabels/T2labels.npy")
for i in range(len(real)-1):
    if real[i]!=real[i+1]:
        shrew=[i,len(real)-i,len(real)]
real=np.load("TATAlabels/T1labels.npy")
for i in range(len(real)-1):
    if real[i]!=real[i+1]:
        mouse=[i,len(real)-i,len(real)]
data_num = pd.DataFrame([mouse,shrew,rat,rabbit,human,dog],\
                        columns=["TSS", "nonTSS", "total"],index=["mouse", "shrew", "rat", "rabbit","human","dog"])

In [22]:
table_allp

,mouse model,shrew model,rat model,rabbit model,human model,dog model
mouse,0.956,0.560,0.559,0.405,0.609,0.491
shrew,0.762,0.950,0.711,0.536,0.685,0.582
rat,0.603,0.443,0.975,0.412,0.580,0.367
rabbit,0.623,0.548,0.618,0.949,0.683,0.492
human,0.623,0.479,0.567,0.949,0.942,0.444
dog,0.644,0.521,0.627,0.465,0.649,0.966

In [23]:
table_allr

,mouse model,shrew model,rat model,rabbit model,human model,dog model
mouse,0.905,0.584,0.317,0.444,0.421,0.392
shrew,0.218,0.761,0.163,0.316,0.216,0.235
rat,0.230,0.301,0.923,0.354,0.286,0.264
rabbit,0.103,0.162,0.104,0.689,0.158,0.131
human,0.103,0.304,0.201,0.689,0.682,0.222
dog,0.131,0.213,0.125,0.219,0.154,0.758

In [24]:
table_allf

,mouse model,shrew model,rat model,rabbit model,human model,dog model
mouse,0.930,0.572,0.405,0.424,0.498,0.436
shrew,0.339,0.845,0.265,0.398,0.328,0.335
rat,0.333,0.358,0.948,0.381,0.383,0.307
rabbit,0.177,0.250,0.178,0.798,0.257,0.207
human,0.177,0.372,0.297,0.798,0.791,0.296
dog,0.218,0.302,0.208,0.298,0.249,0.849

In [12]:
data_num

         TSS  nonTSS  total
mouse   3005    6539   9544
shrew   1546    7624   9170
rat     2376    5276   7652
rabbit  1023    5692   6715
human   2427    8218  10645
dog     1664    7450   9114

<font size=6> Homolog

In [13]:
def homolog(): 
    rdata=[]
    with open ("homologene.data","r") as f:
        rdata=f.readlines()
    split_data=[]
    for i in range(len(rdata)):
        split_data.append(rdata[i].split())
#    split_data
    species={"10090":"mouse","10116":"rat","9615":"dog","9606":"human"}
    fourdata=[]
    for i in range(len(split_data)):
        if split_data[i][1] in species.keys():
            split_data[i][1]=species[split_data[i][1]]
            fourdata.append(split_data[i])
#    fourdata
    mr=0;mh=0;md=0;rh=0;rd=0;hd=0
    tmp=fourdata[0][0]
    p1=0
    p2=0
    tmplist=[]
    for i in range(len(fourdata)):
        if fourdata[i][0]!=tmp:
            p1=p2
            p2=i
            tmp=fourdata[i][0]
#            print(p1,p2)
            for j in range(p1,p2):
                tmplist.append(fourdata[j][1])
            if ("mouse" in tmplist) and ("rat" in tmplist):
                mr+=1
            if ("mouse" in tmplist) and ("human" in tmplist):
                mh+=1
            if ("mouse" in tmplist) and ("dog" in tmplist):
                md+=1
            if ("rat" in tmplist) and ("human" in tmplist):
                rh+=1
            if ("rat" in tmplist) and ("dog" in tmplist):
                rd+=1
            if ("human" in tmplist) and ("dog" in tmplist):
                hd+=1
#            print(tmplist)
            tmplist=[]
    return mr,mh,md,rh,rd,hd
mr,mh,md,rh,rd,hd=homolog()
homolog_data = pd.DataFrame([["\\",mr,mh,md],[mr,"\\",rh,rd],[mh,rh,"\\",hd],[md,rd,hd,"\\"]],\
                            columns=["mouse", "rat", "human","dog"],index=["mouse","rat","human","dog"])

In [14]:
homolog_data

,mouse,rat,human,dog
mouse,\,17909,16766,16149
rat,17909,\,16289,15761
human,16766,16289,\,16288
dog,16149,15761,16288,\